body{
    text-align: center;
    font-family: arial black;
    background-image: url(img3.png);
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    display: inline-block;
    word-spacing: 35px;
    width: 1000px;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(blue, white);
    border: 3px solid blue;
    
}
li{
    display: inline;
}
button{
    border-radius: 10px;
    padding: 3px;
    box-shadow:  0 0 5px blue , 0 0 25px black;
    background-color: white;
    color: blue;
}
button:hover{
    box-shadow: 0 0 5px orangered, 0 0 25px orangered, 0 0 50px orangered, 0 0 100px orangered, 0 0 200px orangered;
    font-size: 12px;
}
a{
    color: blue;
    
}
p{
    font-size: 20px;
    color: white;
}
h1{
    font-size: 40px;
    color: white;
    
}